
@{
    ViewBag.Title = "Edición de notas";
    Layout = "~/Views/Shared/_Paneles.cshtml";
}
@if (Session["User"] == null || !Session["Rol"].Equals("Administrador"))
{
    <script> window.location.href='@Url.Action("Index", "Home")'; </script>
}
else
{
    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fas fa-file-signature"></i> Notas estudiante</h1>
                <p>Edición de notas</p>
                <button class="btn btn-info" type="button" onclick="openModal();"><i class="fas fa-search-plus"></i> Asignar notas a materia</button>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
                <li class="breadcrumb-item"><a href="@Url.Content("~/Admin/NotasAlumno/"+ViewBag.ID+"?curso="+ViewBag.Curso)">Notas estudiante</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered" id="Notas" role="grid" aria-describedby="tableRoles_info" style="width: 1533px;">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Asignatura</th>
                                        <th>Nota #1</th>
                                        <th>Nota #2</th>
                                        <th>Nota #3</th>
                                        <th>Definitiva</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!---Modal 2-->
    <div class="modal fade" id="modalNewMat" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header headerRegister" style="background: #04948c;color: #FFF;">
                    <h5 class="modal-title" id="titleModal">Materia nueva</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tile">
                        <div class="tile-body">
                            <form id="formUsuario" name="formUsuario" class="form-horizontal">
                                <input type="hidden" id="idUsuario" name="idUsuario2" value="">
                                <p class="text-primary">Todos los campos son obligatorios.</p>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="txtNombreMateriax">Nombre de la materia</label>
                                        <input type="text" class="form-control" id="txtNombreMateriax" name="txtNombreMateriax" required="">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label for="descripcion">Descripción</label>
                                    <textarea id="descripcionx" class="form-control" rows="4" name="descripcionx" required=""></textarea>
                                </div>
                                <div class="tile-footer">
                                    <button id="btnActionForm" onClick="" class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="btnText">Guardar</span></button>&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-danger" type="button" data-dismiss="modal"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cerrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var data = { id: @ViewBag.ID, curso: @ViewBag.Curso };
        $(document).ready(function () {
            tableNotas = $('#Notas').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                    },
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "@Url.Content("~/Admin/JsonNotasEstudiante")",
                        "type": "POST",
                        "datatype": "json",
                        "data":data,
                    },
                    "pageLength": 10,
                    "filter": true,
                    "responsivePriority": 1,
                    "data": null,
                    "columns": [
                        { "data": "Mat_ID", "name": "Mat_ID", "autoWidth": true },
                        { "data": "Mat_Nom", "name": "Mat_Nom", "autoWidth": true },
                        { "data": "Cal_N1", "name": "Cal_N1", "autoWidth": true },
                        { "data": "Cal_N2", "name": "Cal_N2", "autoWidth": true },
                        { "data": "Cal_N3", "name": "Cal_N3", "autoWidth": true },
                        { "data": "Cal_NF", "name": "Cal_NF", "autoWidth": true },
                        { "data": "Acciones", "name": "Acciones", "autoWidth": true }
                    ],
                    'dom': 'lBfrtip',
                   'buttons': [
                        {
                            "extend": "copyHtml5",
                            "text": "<i class='far fa-copy'></i> Copiar",
                            "titleAttr": "Copiar",
                            "className": "btn btn-secondary"
                        }, {
                            "extend": "excelHtml5",
                            "text": "<i class='fas fa-file-excel'></i> Excel",
                            "titleAttr": "Exportar a Excel",
                            "className": "btn btn-success"
                        }, {
                            "extend": "pdfHtml5",
                            "text": "<i class='fas fa-file-pdf'></i> PDF",
                            "titleAttr": "Exportar a PDF",
                            "className": "btn btn-danger"
                        }, {
                            "extend": "csvHtml5",
                            "text": "<i class='fas fa-file-csv'></i> CSV",
                            "titleAttr": "Exportar a CSV",
                            "className": "btn btn-info"
                        }
                    ],
                    "responsieve": "true",
                    "bDestroy": true
                });
        });
        }, false);



        </script>


    }

}
