
@{


    ViewBag.Title = "Curso " + ViewBag.ID;
    Layout = "~/Views/Shared/_Paneles.cshtml";
}

<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-calendar-check-o"></i> Administración del curso N° (ID) @ViewBag.ID</h1>
            <p>Edita este curso de una manera didactica</p>
            <button class="btn btn-primary" type="button" onclick="openModal();"><i class="fas fa-wrench"></i> Editar capacidad</button>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="@Url.Content("~/Admin/VerClase/"+ViewBag.ID)">Clase N° (ID) @ViewBag.ID</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <section class="pt-5 pb-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-md-4 text-center mb-3">
                                                        <div class="card" style="border-radius: 20px; border-style: solid; ">
                                                            <img class="img-fluid" alt="Clase" src="~/img/panel/Estudiantes.jpg" style="border-radius: 20px; border-style: solid; ">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Administración de estudiantes</h4>
                                                                <p class="card-text">Asigna y edita estudiantes para esta clase.</p>
                                                                <hr />
                                                                <div class="text-center">
                                                                    <button onclick="EstudiantesClase(@ViewBag.ID);" class="btn btn-primary">Administrar estudiantes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-center mb-3">
                                                        <div class="card" style="border-radius: 20px; border-style: solid; ">
                                                            <img class="img-fluid" alt="Clase" src="~/img/panel/Docentes.jpg" style="border-radius: 20px; border-style: solid;height:200px; ">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Administración de docentes</h4>
                                                                <p class="card-text">Asigna y edita docentes para esta clase.</p>
                                                                <hr />
                                                                <div class="text-center">
                                                                    <button onclick="DocentesClase(@ViewBag.ID);" class="btn btn-primary">Administrar docentes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-center mb-3">
                                                        <div class="card" style="border-radius: 20px; border-style: solid; ">
                                                            <img class="img-fluid" alt="Clase" src="~/img/panel/Materias.jpg" style="border-radius: 20px; border-style: solid; height: 200px; ">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Administración de asignaturas</h4>
                                                                <p class="card-text">Asigna y edita las asignaturas para esta clase.</p>
                                                                <hr />
                                                                <div class="text-center">
                                                                    <button onclick="MateriasClase(@ViewBag.ID);" class="btn btn-primary">Administrar asignaturas</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4 text-center mb-3">
                                                        <div class="card" style="border-radius: 20px; border-style: solid; ">
                                                            <img class="img-fluid" alt="Clase" src="~/img/panel/Notas.jpg" style="border-radius: 20px; border-style: solid; height: 200px; ">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Administración de calificaciones</h4>
                                                                <p class="card-text">Asigna y edita las notas para esta clase.</p>
                                                                <hr />
                                                                <button onclick="CalifiClase();" class="btn btn-primary">Administrar calificaciones</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-center mb-3">
                                                        <div class="card" style="border-radius: 20px; border-style: solid; ">
                                                            <img class="img-fluid" alt="Clase" src="~/img/panel/Horario.jpg" style="border-radius: 20px; border-style: solid; height: 200px; ">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Ver horario</h4>
                                                                <p class="card-text">Consulta el horario.</p>
                                                                <hr />
                                                                <button onclick="HorarioClase();" class="btn btn-primary">Ver horario</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 text-center mb-3">
                                                        <div class="card" style="border-radius: 20px; border-style: solid; ">
                                                            <img class="img-fluid" alt="Clase" src="~/img/panel/Volver.png" style="border-radius: 20px; border-style: solid; height: 200px; ">
                                                            <div class="card-body">
                                                                <h4 class="card-title">Volver al menú</h4>
                                                                <p class="card-text">Devuelvete a la selección de cursos.</p>
                                                                <hr />
                                                                <a href="@Url.Content("~/Admin/Clases")" class="btn btn-primary">Volver</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>
</main>

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-md">
        <div class="modal-content">
            <div class="modal-header headerRegister" style="background: #04948c;color: #FFF;">
                <h5 class="modal-title" id="titleModal">Reasignar capacidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tile">
                    <div class="tile-body">
                        <form id="formUsuario2" name="formUsuario2" class="form-horizontal">
                            
                            <p class="text-primary">Todos los campos son obligatorios.</p>
                            <div class="form-group col-auto align-items-center">
                                <label for="txtCapa">Ingrese la nueva capacidad del curso</label>
                                <input type="number" class="form-control" id="txtCapa" name="txtCapa" required="">
                            </div>

                            <div class="tile-footer">
                                <div class="form-group text-center">
                                    <button id="btnActionForm2" onClick="fntEditCapa()" class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i><span id="btnText">Guardar</span></button>&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-danger" type="button" data-dismiss="modal"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cerrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function EstudiantesClase(id) {
              var url = '@Url.Action("EstudiantesClase", "Admin", new { id = "__id__"})';
                window.location.href = url.replace('__id__', id);
        }
        function DocentesClase(id) {
              var url = '@Url.Action("DocentesClase", "Admin", new { id = "__id__"})';
                window.location.href = url.replace('__id__', id);
        }
        function MateriasClase(id) {
            var url = '@Url.Action("MateriasClase", "Admin", new { id = "__id__"})';
                window.location.href = url.replace('__id__', id);
        }
        function openModal() {
            $('#modalEdit').modal('show');
        }
        function fntEditCapa() {
            let capa = document.querySelector('#txtCapa').value;
             
                if (capa == ""||capa<0||capa<3) {
                    swal("Atención", "Todos los campos son obligatorios, además la capacidad debe ser mayor a 3.", "error");
                    return false;
                }
                var data = {capa:capa,id:@ViewBag.ID};
                      $.ajax({
                            type: "POST",
                            url: "@Url.Action("EditCapa", "Admin")",
                            content: "application/json; charset=utf-8",
                            dataType: "json",
                            data: data,
                            success: function (d) {
                                var msg = d.msg;
                                if (d.Success == true) {
                                    swal("Success", {
                                        icon: "success",
                                        title: "Éxito al procesar la petición",
                                        text: msg,
                                    });
                                    $('#modalEdit').modal("hide");    
                                }else {
                                    swal("Error", {
                                        icon: "error",
                                        title: "Error al procesar la petición",
                                        text: msg,
                                    });
                                    $('#modalEdit').modal("hide");                      
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                swal("Error", {
                                    icon: "error",
                                    title: "Error al procesar la petición",
                                    text: "Por favor comunique a un administrador en caso de que el error persista.",
                                });
                                $('#modalEdit').modal("hide");           
                            }
                        });
        }
    </script>

}

