
@if (Session["User"] == null|| Session["Rol"]==null)
{
    <script> window.location.href='@Url.Action("Index", "Home")'; </script>
            }
            else
            {


            
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/principal/header.png" />
    @Styles.Render("~/Scripts/css/panel/main.css")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Scripts/css/panel/dataTables.min.css")
</head>
<body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header">
        <a class="app-header__logo" href="@Url.Content("~/Panel/")">Harrow School</a>
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <li class="app-search">
            </li>
            <!-- User Menu-->
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="@Url.Content("~/Panel/Perfil")"><i class="fa fa-user fa-lg"></i> Perfil</a></li>
                    <li><a class="dropdown-item" href="@Url.Content("~/Panel/Salir")"><i class="fa fa-sign-out fa-lg"></i> Salir</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">

            @if (this.Session["Rol"].Equals("Administrador"))
            {
                <img class="app-sidebar__user-avatar" src="~/img/panel/admin.png" style="width:40%;" alt="User Image">
            }
            @if (Session["Rol"].Equals("Estudiante"))
            {
                <img class="app-sidebar__user-avatar" src="~/img/panel/graduado.png" style="width:40%;" alt="User Image">
            }
            @if (Session["Rol"].Equals("Acudiente"))
            {
                <img class="app-sidebar__user-avatar" src="~/img/panel/padres.png" style="width:40%;" alt="User Image">
            }
            @if (Session["Rol"].Equals("Docente"))
            {
                <img class="app-sidebar__user-avatar" src="~/img/panel/profesor.png" style="width:40%;" alt="User Image">
            }
            <div>

                <p class="app-sidebar__user-name">@Session["Nombres"]</p>
                <p class="app-sidebar__user-designation">@Session["Rol"]</p>
            </div>
        </div>
        <ul class="app-menu">
            @if (Session["Rol"].Equals("Administrador"))
            {
                <li><a class="app-menu__item active" href="@Url.Content("~/Panel/")"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Inicio</span></a></li>
                <li><a class="app-menu__item" href="@Url.Content("~/Admin/Estudiantes")"><i class="app-menu__icon fa fa-graduation-cap"></i><span class="app-menu__label">Estudiantes</span></a></li>
                <li><a class="app-menu__item" href="@Url.Content("~/Admin/Docentes")"><i class="app-menu__icon fa fa-book"></i><span class="app-menu__label">Docentes</span></a></li>
                <li><a class="app-menu__item" href="@Url.Content("~/Admin/Periodos")"><i class="app-menu__icon fa fa-calendar-check-o"></i><span class="app-menu__label">Periodos academicos</span></a></li>
                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-folder-open"></i><span class="app-menu__label">Asignatruras</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a class="treeview-item" href="@Url.Content("~/Admin/Materias")"><i class="icon fa fa-star"></i> Materias</a></li>
                        <li><a class="treeview-item" href="@Url.Content("~/Admin/Notas")" target="_blank" rel="noopener"><i class="icon fa fa-star"></i> Modificar notas</a></li>
                    </ul>
                </li>
                <li><a class="app-menu__item" href="@Url.Content("~/Admin/Admins")"><i class="app-menu__icon fa fa-lock"></i><span class="app-menu__label">Administradores</span></a></li>
                <li><a class="app-menu__item" href="@Url.Content("~/Panel/Salir")"><i class="app-menu__icon fa fa-sign-out"></i><span class="app-menu__label">Salir</span></a></li>

            }
            @if (Session["Rol"].Equals("Estudiante"))
            {


            }
            @if (Session["Rol"].Equals("Acudiente"))
            {


            }
            @if (Session["Rol"].Equals("Docente"))
            {


            }
        </ul>
    </aside>
    @RenderBody()

    @Scripts.Render("~/Scripts/js/panel/jquery-3.6.0.min.js")
    @Scripts.Render("~/Scripts/js/panel/popper.min.js")
    @Scripts.Render("~/Scripts/js/panel/bootstrap.min.js")
    @Scripts.Render("~/Scripts/js/panel/main.js")
    @Scripts.Render("~/Scripts/js/panel/plugins/pace.min.js")
    @Scripts.Render("~/Scripts/js/panel/jsdataTables.min.js")
    @Scripts.Render("https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    @if (Session["Rol"].Equals("Administrador"))
    {
        @Scripts.Render("~/Scripts/js/panel/functionAdmEst.js")
    }
    @RenderSection("scripts", required: false)
</body>
</html>
}