
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Paneles.cshtml";
    List<SelectListItem> items = (List<SelectListItem>)ViewContext.Controller.ViewBag.Items;
}
@if (Session["User"] == null)
{
    <script> window.location.href='@Url.Action("Index", "Home")'; </script>
}
else
{
    if (Session["Rol"].Equals("Administrador"))
    {
        <style>
            .dflex {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .tile {
                position: relative;
                background: #ffffff;
                border-radius: 3px;
                padding: 20px;
                -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
                box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
                margin-bottom: 30px;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            
            }
        </style>
        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-dashboard"></i> Bienvenido administrador</h1>
                    <p>Tu panel administrativo</p>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                    <li class="breadcrumb-item"><a href="@Url.Content("~/Panel/")">Inicio</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-small primary coloured-icon">
                                    <i class="icon fas fa-user-shield fa-3x"></i>
                                    <div class="info">
                                        <a href="@Url.Content("~/Admin/Admins")">
                                            <h4>Administradores</h4>
                                            <p><b>@ViewBag.Admin</b></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-small info coloured-icon">
                                    <i class="icon fas fa-chalkboard-teacher fa-3x"></i>
                                    <div class="info">
                                        <a href="@Url.Content("~/Admin/Docentes")">
                                            <h4>Docentes</h4>
                                            <p><b>@ViewBag.Doc</b></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-small warning coloured-icon">
                                    <i class="icon fas fa-user-graduate fa-3x"></i>
                                    <div class="info">
                                        <a href="@Url.Content("~/Admin/Estudiantes")">
                                            <h4>Estudiantes</h4>
                                            <p><b>@ViewBag.Estu</b></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="widget-small danger coloured-icon">
                                    <i class="icon fas fa-user-friends fa-3x"></i>
                                    <div class="info">
                                        <a href="@Url.Content("~/Admin/Acudientes")">
                                            <h4>Acudientes</h4>
                                            <p><b>@ViewBag.Padre</b></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="tile">
                        <div class="container-title">
                            <h3 class="tile-title">Usuarios activos vs inactivos por periodo</h3>
                            <div class="dflex">
                                @Html.DropDownList("per", items, "Seleccione el periodo", new { @class = "form-control" })
                                <button type="button" class="btn btn-info btn-sm" onclick="fntGraf()"> <i class="fas fa-search" aria-hidden="true"></i> </button>
                            </div>
                        </div>
                        <div id="container" style="width:100%; height:400px;"></div>
                    </div>
                </div>
            </div>
        </main>

        @section scripts{

            <script>
                function fntGraf() {
                    let period = document.querySelector("#per").value;
                    if (period == '') {
                        swal("Atención", "Todos los campos son obligatorios.", "error");
                        return false;
                    }
            var data = { period: period };
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("GeneraGraf","Panel")",
                            content: "application/json; charset=utf-8",
                            dataType: "json",
                            data: data,
                            success: function (d) {
                                var msg = d.msg;
                                if (d.Success == true) {
                                    generaGrafico(period,d.activos,d.inactivos);
                                }else {
                                    swal("Error", {
                                        icon: "error",
                                        title: "Error al procesar la petición",
                                        text: msg,
                                    });
                                }
                            },
                            error: function (xhr, textStatus, errorThrown) {
                                swal("Error", {
                                    icon: "error",
                                    title: "Error al procesar la petición",
                                    text: "Por favor comunique a un administrador en caso de que el error persista.",
                                });

                            }
                        });    
                }

                    function generaGrafico(name,x,y) {
                       
                        chart = Highcharts.chart('container', {
                            chart: {
                                type: 'bar'
                            },
                            title: {
                                text: name
                            },
                            xAxis: {
                                categories: ['Activos', 'Inactivos']
                            },
                            yAxis: {
                                title: {
                                    text: 'Cantidad de usuarios'
                                }
                            },
                            series: [{
                                name: name,
                                data: [x, y]
                            }]
                        });

                 }






            </script>
        }
    }
    if (Session["Rol"].Equals("Estudiante"))
    {
        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-dashboard"></i> Bienvenido estudiante</h1>
                    <p>Tu panel administrativo</p>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                    <li class="breadcrumb-item"><a href="@Url.Content("~/Panel/")">Inicio</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="tile-body">XD</div>
                    </div>
                </div>
            </div>
        </main>
    }
    if (Session["Rol"].Equals("Acudiente"))
    {
        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-dashboard"></i> Bienvenido acudiente</h1>
                    <p>Tu panel administrativo</p>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                    <li class="breadcrumb-item"><a href="@Url.Content("~/Panel/")">Inicio</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="tile-body">XD</div>
                    </div>
                </div>
            </div>
        </main>
    }
    if (Session["Rol"].Equals("Docente"))
    {
        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1><i class="fa fa-dashboard"></i> Bienvenido docente</h1>
                    <p>Tu panel administrativo</p>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                    <li class="breadcrumb-item"><a href="@Url.Content("~/Panel/")">Inicio</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="tile-body">XD</div>
                    </div>
                </div>
            </div>
        </main>



    }
}